.login-container {
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #FAFAFA;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    margin-bottom: 1rem;
    color: #666;
  }
  
  .social-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .social-login button {
    width: 48%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    
    
  }

  .social-login {
    display: flex;
    justify-content: center;
    gap: 16px; // Adjust as necessary

    .google-login, .facebook-login {
        display: flex;
        align-items: center;
        padding: 8px 16px; // Adjust as necessary
        border: solid 1px #8098F9 ;
        border-radius: 4px;
        font-size: 16px; // Adjust as necessary
        cursor: pointer;
    }
}
  
  .social-login .google-login {
    color: black;
  }
  
  .social-login .facebook-login {
    color: black;
  }
  
  .divider {
    margin: 1rem 0;
    color: #999;
    font-size: 0.9rem;
  }
  
  .input-group {
    margin-bottom: 1rem;
    }
  
  .input-group input {
    width: 90%;
    padding: 0.75rem;
    border: 1px solid #8098F9;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #E7FBFB;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .options label {
    font-size: 0.9rem;
    color: #666;
  }
  
  .options a {
    font-size: 0.9rem;
    color: gray;
    text-decoration: none;
  }
  
  .login-button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #7CAFB1;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .create-account {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #666;
  }
  
  .create-account a {
    color: #74afb1;
    text-decoration: none;
  }

  .login-page {
    padding: 5%;
  }