@import "../../shared/styles/colors/colors.scss";
@import "../../shared/styles/fonts/fonts.scss";

#homepage-container {

  margin-bottom: 8rem;

  .logo-container {
    background-color: $secondary-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-family: 'Manrope-Medium', serif !important;
    color: $title !important;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: -5rem;
    text-transform: uppercase;
  }

  .home-page-logo {
    height: 65rem;
    width: 88rem;
    margin-bottom: -7rem;
  }

  .routes-search-bar-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }

  .infocards-container {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    justify-content: center;
    width: 100%;
    margin: 4rem 0 8rem 0;
  }

  .ai-info-container {
    background: linear-gradient(
                    to bottom,
                    $primary-background-color 0%,
                    $primary-background-color 10%,
                    $secondary 10%,
                    $secondary 90%,
                    $primary-background-color 90%,
                    $primary-background-color 100%
    );
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ai-info-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 110rem;
  }

  .robot-image {
    height: 120%;
  }

  .ai-text {
    font-family: 'Manrope-Medium', serif !important;
    width: 70rem;
  }
}