@import "../../shared/styles/fonts/fonts.scss";
@import "../../shared/styles/colors/colors.scss";

.transport-card-step-two {
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font-family: 'Manrope-Medium', serif;

    
    h6 {
        font-weight: bold;
        margin-bottom: 20px;
        font-family: 'Manrope-Medium', serif;
        font-size: 25px;
    }

    .MuiFormControlLabel-root {
        margin-bottom: 15px;
        align-items: flex-start;
        width: 100%; 
        display: flex;
        justify-content: flex-start;

        .MuiCheckbox-root {
            margin-right: 10px;
            color: #26a69a;

            &.Mui-checked {
                color: #26a69a; 
            }
        }

        .MuiTypography-root {
            margin-left: 0;
            margin-top: 5px;
        }
    }

    .custom-form-control-label .MuiTypography-root {
        font-family: 'Manrope-Medium', serif !important;
        font-size: 20px !important; 
        color: #000000 !important; 
    }
    .custom-option-input-wrapper {
        display: flex;
        align-items: center;
        width: 100%; 
    }

    .custom-option-input {
        flex: 1; 
        margin-left: 10px; 
        input {
            padding: 8px 10px;
            font-size: 14px;
            font-family: 'Manrope-Medium', serif;
        }

    }

    .checkboxes {
        margin-bottom: 20px;
        width: 100%;
        
    }

    .MuiCheckbox-root {
        padding: 4px;
        color: #26a69a; 
        &:hover {
            background-color: rgba(38, 166, 154, 0.04); 
        }

        &.Mui-checked {
            color: #26a69a; 
        }
        font-family: 'Manrope-Medium', serif;
    }

    .custom-checkbox-label {
        margin-bottom: 10px;
    }
    

}
