@font-face {
  font-family: 'Manrope-Medium';
  src: url('../../../../public/fonts/manrope/Manrope-Medium.ttf') format('.tff'),
  url('../../../../public/fonts/manrope/Manrope-Medium.ttf') format('.tff');
  font-weight: normal;
  font-style: normal;
}