@font-face {
  font-family: 'Manrope-Regular';
  src: url('../../../../public/fonts/manrope/Manrope-Regular.ttf') format('tff'),
  url('../../../../public/fonts/manrope/Manrope-Regular.ttf') format('tff');
  font-weight: normal;
  font-style: normal;
}