@import "../../shared/styles/colors/colors.scss";

#footer-container {
  justify-content: center;
  background-color: $secondary-background-color;

  .footer-element-container {
    display: flex;
    flex-direction: column;
  }

  .logos {
    align-items: center;
    justify-content: center;
  }

  .links {
    justify-content: start;
    padding: 2rem;
  }

  .footer-element-title {
    font-family: Manrope-Regular, sans-serif;
    font-weight: bold;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }

  .footer-element-text {
    font-family: Manrope-Regular, sans-serif;
    margin-bottom: 2rem;
    width: fit-content;
    color: black;
    text-decoration: none;
  }

  .logo {
    height: 12rem;
    width: 30rem;
  }
}