@import '../../shared/styles/colors/colors.scss';
@import "../../shared/styles/fonts/fonts.scss";

#route-page-wrapper {
  background-color: $primary-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 8rem 0;
  position: relative;
  overflow-x: hidden;

  .alert {
    position: absolute;
    top: 0;
    right: -15.5rem;
    opacity: 0;
    color: white;
    font-size: 1.25rem;
    transition: 200ms ease-in;
  }

  .green {
    background-color: $primary;
  }

  .orange {
    background-color: #ffa000;
  }

  .red {
    background-color: red;
  }

  .alert-visible {
    opacity: 1;
    right: 0;
    transition: 200ms ease-in;
  }

  .check-icon {
    color: white;
    height: 100%;
    font-size: 1.5rem;
  }

  .route-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .route-info-container {
    background-color: $secondary-background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    height: fit-content;
    width: 45rem;
    padding: 1rem 5rem 2rem 5rem;
  }

  .book-now-button {
    text-transform: none;
    width: 12rem;
    height: 3rem;
    margin-top: 1rem;
    border-radius: 2rem;
    font-size: 1.25rem;
  }

  .date {
    font-family: 'Manrope-Medium', serif !important;
  }

  .divider {
    margin: 1rem 0;
    border: 1px solid $primary;
    width: 100%;
  }

  .drive-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    cursor: pointer;
  }

  .driver-picture-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .profile-picture {
    height: 3rem;
    width: 3rem;
    border-radius: 2rem;
  }

  .arrow {
    height: 2rem;
    width: 2rem;
    transform: rotate(-90deg) !important;
    transition: 350ms;
  }

  .arrow-extended {
    transform: rotate(0deg) !important;
    transition: 350ms;
  }

  .driver-info-collapsable {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 0;
    overflow-y: hidden;
    cursor: pointer;
    transition: 350ms ease;
  }

  .driver-info-collapsable-opened {
    height: 12rem;
    transition: 350ms ease;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-top: 1rem;
  }

  .bio {
    margin: 0.25rem 0 1rem 1rem;
  }

  .star {
    height: 1.25rem;
    width: 1.25rem;
    color: $primary;
  }

  .star-empty {
    color: $primary-background-color !important;
  }

  .driver-info-extended {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .accepted-passengers-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 2.5rem;
    margin-bottom: 2rem;
  }

  .is-driver-container {
    width: 100%;
  }

  .users-list {
    height: fit-content;
    max-height: 10rem;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .user-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0 2rem 0 0;
  }

  .pair {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
  }

  .chat-icon {
    height: 1.75rem;
  }

  .contact-user-text {
    color: $blue;
  }

  .button {
    text-transform: none;
    width: 5rem;
  }

  .button-green {
    background-color: $primary;
    margin-right: 1rem;
  }

  .is-ride-completed{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}