@import "../../shared/styles/fonts/fonts.scss";
@import "../../shared/styles/colors/colors.scss";

#transport-card-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .transport-card-container {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
  }
  
  .transport-card-title {
    margin-top: 2rem;
    font-family: 'Manrope-Medium', serif !important;
    color: $title !important;
  }
  