@import "../../shared/styles/colors/colors.scss";
@import "../../shared/styles/fonts/fonts.scss";

#header-container {
  background-color: $primary-background-color;
  height: 7rem;
  border-bottom: 1px solid black;

  .header-element-container {
    align-items: center;
    justify-content: center;
  }

  .header-element {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }

  .logo {
    height: 7rem;
  }

  .icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
  }

  .header-element-text {
    font-family: 'Manrope-Medium', serif !important;
  }

  .profile-icon-button {
    .profile-icon {
        font-size: 3rem; // Adjust the size as needed
    }
}

.header-element-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon-button {
  .profile-icon {
      font-size: 1.5rem; // Adjust the size as needed
  }
}

.logo {
  max-width: 100%; // Ensure the logo is responsive
}

.header-element {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;

  .icon {
      width: 20px; // Adjust the size as needed
      height: 20px; // Adjust the size as needed
      margin-right: 8px;
  }

  .header-element-text {
      font-size: 1rem;
  }
}

}
