@import "../../shared/styles/colors/colors.scss";
@import "../../shared/styles/fonts/fonts.scss";

#header-container {
  background-color: $primary-background-color;
  height: 7rem;
  border-bottom: 1px solid black;

  .header-element-container {
    align-items: center;
    justify-content: center;
  }

  .header-element {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }

  .logo {
    height: 7rem;
  }

  .icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
  }

  .header-element-text {
    font-family: 'Manrope-Medium', serif !important;
  }
}
