.input-field {
    background-color: white;
    border-radius: 8px;
    width: 400px;
  }

  .input-field-1{
    background-color: white;
    border-radius: 8px;
    width: 300px;
  }
  .input-field-4{
    background-color: white;
    border-radius: 8px;
    height: 100px;
    width: 400px;
  }
  
  .input-field .MuiOutlinedInput-root {
    border-radius: 8px;
  }
  